
/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 98%;
	max-width: 100%;
	margin: 0 auto;
	background-color: #edfdff;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	background-color: rgb(68,114,196);
	align-items: center;
}
header h1 {
  color: #ffffff;
  text-align: center;
}
header h2 {
	font-size: 175%;
	color: #000000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 5%;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* Nav Menu */
#nav_menu {
    width: 100%;
	background-color: rgb(68,114,196);
}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0,176,240);
}

#nav_menu ul li {
  flex: 1;
    display: inline;
    position: relative;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0,176,240);
    border: 2px solid black;
    color: black;
    font-weight: bold;
    padding: 1em 2em;
    box-sizing: border-box;
    poisition: relative;
}

#nav_menu ul li a.current {
	background-color: rgb(0,176,80);
	width: auto;
	height: auto;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li {
    display: block;
    width: 100%;
}

#nav_menu ul li:hover ul {
    display: block;
}

#nav_menu::after {
    content: '';
    display: block;
    clear: both;
}
/* Style rule for submenu */
.submenu {
    position: absolute;
    background-color: rgb(0,176,240);
    list-style: none;
	text-align: left;
    margin: 0;
    padding: 0;
}
#nav_menu li:hover .submenu {
    display: block;
}
#nav_menu::after {
	content: "";
	display: block;
	clear: both;
}
/* Ensure submenu items are displayed vertically */
.submenu li {
	display: block;
	float: none;
}
/* the styles for the section */
section {
	width: 53.57%;
	float: right;
	padding: 0 3% 20px 3%;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;
}
section h2 {
	color: 0800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
	list-style-type: circle;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the article */
article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article h2 {
	padding-top: 0;
	list-style-type: circle;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
	max-width: 40%;
	min-width: 150px;
}
/* list */
ul {
	list-style-type: circle;
}

/* the styles for the footer */
footer {
	background-color: #4e3076;
	color: #ff9500;
	clear: both;
}
footer a.text-muted {
  color: #ff9500;
}
}
footer p {
	text-align: center;
	color: #ff9500;
	padding: 1em 0;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: #ff9500;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
